apiVersion: apps/v1
kind: Deployment
metadata:
  name: main-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: main-api
  template:
    metadata:
      labels:
        app: main-api
    spec:
      containers:
        - name: main-api
          image: docker.io/library/horizon-main-api:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: main-api-env
---
apiVersion: v1
kind: Service
metadata:
  name: main-api
spec:
  type: NodePort
  selector:
    app: main-api
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30000
