apiVersion: apps/v1
kind: Deployment
metadata:
  name: main-api
spec:
  replicas: 1
  selector:
    matchLabels:
      app: main-api
  template:
    metadata:
      labels:
        app: main-api
    spec:
      containers:
        - name: main-api
          image: hamoudilazkani/main-api:latest
          ports:
            - containerPort: 3000
          envFrom:
            - secretRef:
                name: main-api-env
